<div *ngIf="node_data">  

    <div>Name: <b>{{node_data.machine_name}}</b></div>
    <div>IP: {{node_data.ip_address}}</div>
    <div>last_seen: {{node_data.last_seen | date:"MM/dd/yy HH:mm"}}</div>
    <div>Status: 
        <span class="badge" style="margin-top: 0px;"
            [class.badge-success]="node_data.status=='accepting'"
            [class.badge-default]="node_data.status=='offline'">
            {{node_data.status}}
        </span> 
    </div>
    <div>active: {{node_data.active}}</div>
    <div>system: {{node_data.system}}
        {{node_data.cpu_brand}} CPU ({{node_data.cpu_cores}} Cores) 
        <span *ngIf="node_data.gpu_count>0">, {{node_data.gpu_count}} CUDA GPU</span>
    </div>
    <div>code version: {{node_data.code_version}}</div>
    <div>
        Jobs: 
        <span class="badge" style="margin-top: 0px;"
            [class.badge-success]="node_data.running_jobs.length>0"
            [class.badge-default]="node_data.running_jobs.length==0">
            Running: {{node_data.running_jobs.length}}           
        </span>    

        <div *ngFor="let job of node_data.running_jobs; trackBy:trackByJobId">
            <job_block [data]="job"></job_block>
        </div>

    </div>

</div>

