ansi2html
boto3
Django==1.11.20
django-gravatar2==1.4.0
django-model-utils==2.6
django-prometheus==1.0.13
django-solo==1.1.2
django-filter==1.0.4
django-taggit==0.22.2
django-taggit-serializer==0.1.5
djangorestframework==3.4.6
djangorestframework-jwt==1.11.0
python-ldap==2.4.41
prometheus-client==0.2.0
py-cpuinfo==0.2.3
PyJWT==1.7.1
pytz==2016.6.1
raven==6.9.0
six==1.11.0
virtualenv==15.1.0
