ansi2html
boto3
Django==3.2.22
django-gravatar2
django-model-utils
django-prometheus
django-solo
django-filter
django-taggit
django-taggit-serializer
djangorestframework
djangorestframework-jwt
python-ldap
prometheus-client
py-cpuinfo==0.2.3
PyJWT==1.7.1
pytz==2016.6.1
requests
virtualenv==15.1.0
