<div style="position:fixed; bottom:0; left:-200px; padding-left:200px; right:-200px; padding-right:200px; background-color:#d0d0d0; z-index:5;"
     class="pt-3 offset-sm-5 offset-md-4 offset-lg-3 offset-xl-2">

  <div style="margin: 10px;">
      <b>{{selected_takes.length}}</b> Selected
      <button class="btn btn-xs" (click)="onSelectAllTakes()">All</button>
      <button class="btn btn-xs" (click)="onSelectAllFromFlag('best')">All Best</button>
      <button class="btn btn-xs" (click)="onSelectAllFromFlag('bad')">All Bad</button>
      <button class="btn btn-xs" (click)="onSelectAllFromFlag('calib')">All Calib</button>
      <button class="btn btn-xs" (click)="onSelectNoneTakes()">None</button>
      <button [disabled]="selected_takes.length<=0 || !session_data.frontal_cam_id" class="btn btn-s btn-primary" (click)="onExportSelected()"><i class="fa fa-sign-out"></i> Export Selected</button>
      <button [disabled]="selected_takes.length<=0" class="btn btn-s btn-destructive" (click)="onRemoveSelected()"><i class="fa fa-trash"></i> Delete Selected</button>
      
      <span *ngIf="session_data">
        Frontal Cam : 
        <select (change)="onChangeFrontalCamera(session_data.frontal_cam_id)" [(ngModel)]="session_data.frontal_cam_id">
          <option *ngFor="let cam_uid of all_cam_uid; trackBy:trackByString" value="{{cam_uid}}">{{cam_uid}}</option>
        </select>
      </span>
      
      <a *ngIf="session_data" href="/archive/archive_session_export_json/{{session_data.id}}">Download Session JSON</a>
  </div>
</div>

<!-- Modal Dialog to Export Selected takes -->
<div id="exportTakesModal" class="modal-dialog-container">
  <div class="modal-dialog">
  <div class="modal-dialog-header">
    <h1>Export Selected Takes</h1>
  </div>
  <div class="modal-dialog-content">
    <p>Export location (UNC path accessible from each of the nodes):</p>
    <input size="80" type="text" [(ngModel)]="export_location">
  </div>
  <div class="modal-dialog-footer">
    <button (click)="onQueueExport()" type="button" class="btn btn-wide btn-apply"><i class="fa fa-sign-out"></i> Export</button>
    <button (click)="onCancelExport()" type="button" class="btn btn-wide btn-cancel">Cancel</button>
  </div>
  </div>
</div>

<!-- Modal Dialog to Delete Selected takes -->
<div id="deleteTakesModal" class="modal-dialog-container">
  <div class="modal-dialog">
  <div class="modal-dialog-header">
    <h1>Delete Selected Takes</h1>
  </div>
  <div class="modal-dialog-content">
    <p><b>{{this.selected_takes.length}}</b> takes will be removed from the database, this cannot be undone. Are you sure?</p>
  </div>
  <div class="modal-dialog-footer">
    <button (click)="onQueueDelete()" type="button" class="btn btn-wide btn-destructive"><i class="fa fa-trash"></i> DELETE</button>
    <button (click)="onCancelDelete()" type="button" class="btn btn-wide btn-cancel">Cancel</button>
  </div>
  </div>
</div>

<h1 class="page-title">Session <span class="fw-semi-bold">{{session_data?.name}}</span> at {{session_data?.project_name}}</h1>

<section *ngFor="let shot of session_data?.shots; trackBy:trackByShotId" class="widget" widget>
  <header>
    <h4>Shot <span class="fw-semi-bold">{{shot.name}}</span></h4>
  </header>
  <div class="widget-body">
    <div *ngFor="let take of shot.takes; trackBy:trackByTakeId">
        <h3><span *ngIf="!take.write_access" class="badge badge-danger"><i class="fa fa-lock"></i></span></h3> 

        <div style="background-color: #606060; height: 1.6em; padding: 3px;">
          <div style="display: inline-block;">
            <input type="checkbox" name="takeSel" value="{{take.id}}" [disabled]="!take.write_access" [checked]="selected_takes.indexOf(take.id)>-1" (click)="toggleTakeSelection(take.id)"> 
            <b>{{take.name}}</b>
            <small>{{take.capture_time | date:'medium'}} <B>{{take.total_size | dataSize}}</B> DB#{{take.id}}</small>

            <label class="btn" [class.btn-apply]="take.flag=='best'">
              <input type="checkbox" autocomplete="off" [checked]="take.flag=='best'" (click)="toggleTakeFlag($event, take, 'best');"> <i class="fa fa-thumbs-o-up"></i> Best
            </label>
            <label class="btn" [class.btn-destructive]="take.flag=='bad'">
              <input type="checkbox" autocomplete="off" [checked]="take.flag=='bad'" (click)="toggleTakeFlag($event, take, 'bad');"> <i class="fa fa-thumbs-o-down"></i> Bad
            </label>
            <label class="btn" [class.btn-primary]="take.flag=='calib'">
              <input type="checkbox" autocomplete="off" [checked]="take.flag=='calib'" (click)="toggleTakeFlag($event, take, 'calib');"> <i class="fa fa-crosshairs"></i> Calib
            </label>             
  
          </div>
          <div class="pull-right"><button class="btn btn-xs btn-primary" (click)="createTakeThumbnailJob($event, take.id)">Thumb</button></div>
        </div>
        <div *ngIf="take.export_path"><small>Path: {{take.export_path}}</small></div>
                
        <job_label_list [jobs]="take.related_jobs"></job_label_list>

        <div class="table-responsive">
        <table style="border-spacing: 2px; border-collapse: separate;"><tr>
            <td *ngIf="take.video_thumb">
              <div style="vertical-align: top;">

              <videoplaceholder *ngIf="take.video_thumb" [width]="180" [src]="'/static/thumb/' + take.video_thumb"></videoplaceholder>
                
              </div>
              <div>
                <button class="btn btn-xs btn-primary" [routerLink]=" ['/app/archive-session/create-tracking', take.id] "><i class="fa fa-file-video-o"></i> Create Tracking</button>
              </div>
            </td>
            <td class="camera_image" style="padding: 4px;" bgcolor="#303030" valign="top" *ngFor="let camera of take.cameras; trackBy:trackByCameraId">
                <div><small>
                    {{camera.unique_id}}/{{camera.machine_name}}
                    <br>
                    {{camera.model}}
                    <br>
                    <input type="text" [value]="camera.folder" readonly />
                    <br>
                    <span class="badge badge-sm badge-default" [class.badge-success]="camera.using_sync"><i class="fa fa-plug"></i></span> 
                    <span class="badge badge-sm badge-default">{{camera.frame_count}} frames</span>
                    <span class="badge badge-sm badge-default" [class.badge-danger]="camera.dropped_frames>0">{{camera.dropped_frames}} dropped</span>
                    <br>
                    {{camera.width}}x{{camera.height}} {{camera.framerate}} fps
                </small></div>
                <rotate_img [angle]="camera.rotation" [width]="160" [src]="'/static/thumb/'+camera.thumbnail_filename"></rotate_img>
            </td>
        </tr></table>
        </div>

    </div>
  </div>
</section>

<div style="height:140px;"></div>